

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../../Assets/pacman.jpg);
    background-repeat: no-repeat;
    background-color: #cccccc;
    height: 170px;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #bd8585;
    font-size: 25px;
}